<div>
<h1 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 md:text-4xl lg:text-5xl dark:text-white">CALCULADORA DE DISTANCIAS</h1>
  <form [formGroup]="formulario">
    <div class="grid gap-6 mb-6 ms-6 md:grid-cols-4">

      <div class="mb-6">
        <label
          for="x1"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >x1</label
        >
        <input
          type="number"
          id="x1"
          formControlName="x1"
          class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-50 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>

      <div class="mb-6">
        <label
          for="y1"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >y1</label
        >
        <input
          type="number"
          id="y1"
          formControlName="y1"
          class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-50 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>

      <div class="mb-6">
        <label
          for="x2"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >x2</label
        >
        <input
          type="number"
          id="x2"
          formControlName="x2"
          class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-50 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>

      <div class="mb-6">
        <label
          for="y2"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >y2</label
        >
        <input
          type="number"
          id="y2"
          formControlName="y2"
          class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-50 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>


      <br />
      <button (click)="proceder()" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Calcular distancia</button>
      <h2 class="dark:text-white">Resultado: {{ resultado }}</h2>
    </div>
  </form>
</div>
